body {
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    overflow: hidden; /* Uusi lisäys 22.5.2025 */
    font-family: "Caveat", cursive;
    user-select:none; /*highlight poispäältä*/
}

/* kaikkien tekstien koko */
h2 {font-size: 40px; margin: 10px;}
p {font-size: 20px;}

/* kaikki näppäimet */
button {
    font-family: "Caveat", cursive;
    background-color: #d49b3f;
    z-index: 101;
    position: relative; 
    border-radius: 10px;
    border: 3px solid #281d0a;
}
button:hover {
    background-color: #aa7d34;
    cursor: pointer;
}
button:active {
    transform: scale(1.2); /* painaessa näppäin on vähän isompi */
}

/* Grid kontaineri. hallitsee sivun asettelun */
.screen {
    display: grid;
    grid-template-areas: 
        "ingredients mixer recipes"
        "ingredients mixer recipes"
        "ingredients mixer money";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 0.7fr;
    height: 100vh;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

/* kaikkien laatikoiden tyyli */
.box {
    background-color: #2b2b2b;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* kertoo mihin grid-alueeseen eri osiot tulee ja laittaa niille taustat */
.ingredients    { grid-area: ingredients; background-image: url("kuvat/bgIng.png"); background-size: cover;}
.mix            { grid-area: mixer; background-image: url("kuvat/bgmix.png"); background-size: cover;}
.recipe         { grid-area: recipes; background-image: url("kuvat/bgbook.png"); background-size: cover;}
.money          { grid-area: money; background-image: url("kuvat/bgmoney.png"); background-size: cover;}

/* ympyrä jossa aineksien kuvat */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px;
    padding: 10px;
    background-color: #f7c741c3;
}

/* neliö, jossa kattilan kuva */
.square {
    width: 300px;
    height: 300px;
    margin: 10px;
    margin-top: 250px;
}

h2 {
    margin-top: 0;
}

/* tämä, jotta näppäimet olisivat aineksien vieressä */
.ingredient_item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* aineksien näppäimet */
.ingredient_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -25px;
}

/* vieritys mahdollisuus ylös ja alas */
.ingredients_list {
    overflow-y: scroll;
    max-height: 500px;
    width: 300px;
}

/* aineksen kuva ja määrä kpl*/
.ingredient_pic {
    margin: 15px;
}
.ingredient_pic p {
    margin: 5px;
}

/* reseptikirjan näppäimet */
.scroll_btn {
    position: absolute;
    bottom: 45px;
    background: none;
    border: none;
    cursor: pointer;
}
.scroll_btn:hover {
    background-color: inherit; /* ei vaihda taustaa */
    filter: brightness(80%);
}
.scroll_btn img {
    width: 50px;
}
.scroll_btn.left {
left: 35px;
}
.scroll_btn.right {
right: 25px;
}

/* reseptin nimi vähän isommaksi */
#recipe_name_text {
    font-size: 25px;
}

/* reseptin kuva */
#recipe_pic {
    width: 150px;
}

/* näppäimien koko aineksien laatikossa */
.ingredients button {
    width: 100px;
    font-size: 25px;
    border: 3px solid #281d0a;
}

.money_position {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 40px;
}

/* näyttää paljonko rahaa vähennettiin */
#show_minus {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 5px;
    color: rgb(172, 34, 34);
}

#choosed_ingredients {
    position: absolute;
    top: 150px;
}

/* minipeli elementit */
#canvasDiv {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#canvas {
    pointer-events: none;
}

#minipeli_button {
    padding: 15px 5px;
    border-radius: 20px;
    width: 150px;
    font-size: 30px;
}

#sekoitus_teksti {
    font-size: 35px;
    margin: 0px;
}
#yritysmaara {
    font-size: 35px;
    margin: 0px;
}

/* ohjeiden avaus nöppäin */
.question_mark {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 1px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 35px;
    border: 3px solid #281d0a;
    background-color: #d49b3f;
}

/* näppäimen koko sekoitusalueella */
.mix_button1 {
    width: 150px;
    font-size: 35px;
}

/*Help ikkunan tyylit*/
#helpWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d49b3f;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.help_teksti {
    color: white;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.poistuButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 35px;
    background-color: #aa7d34;
    border: 3px solid #281d0a;
    border-radius: 10px;
}
.poistuButton:hover {
    background-color: #8b6525;
}

#recipeResultImg {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0) scale(0.5); /* aluksi kuva on pieni (pienennetty) */
    z-index: 200;
    max-width: 250px;
    pointer-events: none;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#recipeResultImg.show {
    transform: translate(-50%, 0) scale(1); /* kuva suurenee animoidusti */
    opacity: 1; 
}
